@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Nunito:wght@600&family=Raleway:wght@300&display=swap");

:root {
  --eggplant: #443742;
  --coyote: #846c5b;
  --buff: #cea07e;
  --peachYellow: #edd9a3;
  --cream: #e2e8c0;
  --brand-font: "Cinzel", serif;
  --primary-font: "Raleway", sans-serif;
  --secondary-font: "Nunito", sans-serif;
}

body {
  background-image: url("../../assets/pictures/landing-page.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: var(--primary-font);
}
