@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Montserrat+Alternates:wght@300&family=Raleway:wght@300&display=swap");

:root {
  --eggplant: #443742;
  --coyote: #846c5b;
  --buff: #cea07e;
  --peachYellow: #edd9a3;
  --cream: #e2e8c0;
  --btn-background: #74717121;
  --btn-background-hover: #74717183;
  --alert-color: #d82c2c;
  --box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  --brand-font: "Montserrat Alternates", sans-serif;
  --primary-font: "Raleway", sans-serif;
  --secondary-font: "Comfortaa", cursive;
}

* {
  font-family: var(--primary-font);
  color: var(--eggplant);
}

.button-default-style {
  background-color: var(--btn-background);
  padding: 5px 15px;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  transition: all ease-in 0.5s;
}

.button-default-style:hover {
  background-color: var(--btn-background-hover);
  color: #fff;
}

.content {
  height: 100vh;
  background-image: url("../../assets/pictures/landing-page.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--primary-font);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p_top {
  padding-top: 10%;
}

.p_top_small {
  padding-top: 5%;
}

.input_alert {
  color: var(--alert-color);
  font-weight: bolder;
}

.required {
  color: var(--alert-color);
  font-size: 1.7rem;
}
